<md-content>
  <form name='quoteForm' ng-submit='newQ.saveQuote()'>
    <div layout-gt-xs='row'>
      <md-input-container class="md-block" flex-gt-xs>
	<label>Quote name</label>
	<input ng-model='newQ.name'>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
	<label>Customer</label>
	<md-select ng-model='newQ.customer'>
	  <md-option
	     ng-repeat='customer in newQ.findCustomers()'
	     value='{{customer}}'
	     ng-selected='customer === newQ.findCustomers()[0]'>
	    {{customer}}
	  </md-option>
	</md-select>
      </md-input-container>
    </div>
    <div layout-gt-xs='row'>
      <md-button type="submit">Save</md-button>
    </div>
  </form>
</md-content>
